COMPOSE_PROJECT_NAME=bookstacklab

TZ=Europe/Berlin

BOOKSTACK_APP_URL=http://localhost:8080
BOOKSTACK_APP_KEY=base64:REPLACE_ME

BOOKSTACK_DB_HOST=bookstack-db
BOOKSTACK_DB_PORT=3306
BOOKSTACK_DB_NAME=bookstack
BOOKSTACK_DB_USER=bookstack
BOOKSTACK_DB_PASSWORD=

MARIADB_ROOT_PASSWORD=